/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{

  --primary:#2563EB;
  --primary-hover:#1D4ED8;

  --background:#FFFFFF;

  --surface:#FFFFFF;

  --border:#E5E7EB;

  --text:#111827;

  --text-light:#6B7280;

  --radius:18px;

  --shadow:
      0 8px 30px rgba(0,0,0,.06);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--background);

    color:var(--text);

}

button{

    font-family:inherit;

}